body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    background-color: #f4f4f4;
}

video {
    max-width: 80%;
}